*.log
*.tsbuildinfo
.DS_Store
ci/apt/packages
dist/
node_modules/
storybook-screenshots/
storybook-static/
# Test coverage
coverage/
playwright-report/
test-results/
.vercel/

# Extensions
*.foxe
.env*
